{
  "supabaseUrl": "http://localhost:54321",
  "supabaseAnonKey": "{{ anon_key_generated }}",
  "billingEnabled": false,
  "billingMode": "self-host-disabled",
  "stripePublishableKey": "",
  "stripePremiumPriceId": ""
}
